body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f7;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    font-size: 24px;
    color: #1a1a1a;
    margin-bottom: 20px;
}

form {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

input[type="text"] {
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    padding: 10px;
    width: 70%;
    margin-right: 10px;
    font-size: 16px;
}

button {
    background-color: #0071e3;
    color: white;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.officer-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.officer-button {
    /* Added margin to the bottom of each officer button for better spacing */
    margin-bottom: 15px;
}

.officer-info {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
}

.salary-info {
    margin-top: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.salary-info h3 {
    margin-top: 0;
    color: #1a1a1a;
}

.salary-info p {
    margin: 5px 0;
    color: #333;
    font-size: 14px;
}

.officer-options-container {
    text-align: center; /* Center-align the container */
}

.officer-button {
    display: block; /* Stack buttons vertically */
    margin: 10px auto; /* Centralize buttons with automatic horizontal margins */
    padding: 5px 10px; /* Padding for aesthetic spacing */
    cursor: pointer; /* Pointer cursor on hover */
}



